[Unit]
Description=Telegram copytrading bot service (backend)
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=monke
ExecStart=python /path/to/ct_main.py

[Install]
WantedBy=multi-user.target